.sector rect {
  /*fill: #4a90e2;*/
  /*transition: fill .2s ease, stroke .2s ease;*/
}

.sector:hover rect {
  cursor: pointer;
  stroke-width: 3;
  opacity: 30%;
}

.sector-d:hover rect {
  fill: #FFA500;
  stroke: #FF8C00;
}

.sector-h:hover rect {
  fill: #1E90FF;
  stroke: #4682B4;
}

.sector-c1:hover rect {
  fill: #00FF00;
  stroke: #32CD32;
}

.sector-c2:hover rect {
  fill: #EE82EE;
  stroke: #BA55D3;
}

.sector-m:hover rect {
  fill: #DC143C;
  stroke: #FF0000;
}

