.sector {
  fill-opacity: 1;
  stroke: transparent;
  stroke-width: 2;
  transition: fill-opacity 120ms ease, stroke 120ms ease, stroke-width 120ms ease;
}

.sector-c1:hover, .sector-c2:hover {
  cursor: zoom-in;
  stroke: #fad7ac;
  fill: #fff2cc; 
  stroke-width: 3px;
  z-index: 0;
}

.sector-h:hover {
  cursor: zoom-in;
  fill: #dae8fc;
  stroke: #6c8ebf; 
  stroke-width: 3px;
}

.sector-d:hover {
  cursor: zoom-in;
  fill: #cdeb8b;
  stroke: #82b366; 
  stroke-width: 3px;
}

.sector-m:hover {
  cursor: zoom-in;
  fill: #ffff88;
  stroke: #e3c800; 
  stroke-width: 3px;
}

.tooltip {
  position: fixed;            
  background: rgba(0,0,0,.9);
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 18px;
  white-space: nowrap;
  pointer-events: none;       
  z-index: 99999;
}

.tooltip.hidden {
  display: none;
}

/* Flechita (tooltip a la derecha del target, flecha apunta a la izquierda) */
.tooltip::after {
  content: "";
  position: absolute;

  top: 50%;
  right: 100%;
  transform: translateY(-50%);

  border-width: 8px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.90) transparent transparent;
}

.select-menu {
  width: 260px;
  position: relative;
}

.select-menu .select-btn {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  height: 50px;
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  /*justify-content: space-between;*/
  justify-self: flex-end;
}

.select-btn i {
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}

/*.select-menu .options {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: none;
}*/

.select-menu .options {
  position: absolute;
  left: 0;
  right: 0;

  bottom: calc(100% + 8px); /* abre hacia arriba */
  padding: 12px;
  border-radius: 8px;

  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  display: none;
  z-index: 1000; /* por encima del mapa */
}


.select-menu.active .options {
  display: block;
}

.options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.option i {
  margin-right: 10px;
}

.options .option:hover {
  background-color: #f2f2f2;
}

.option .option-text {
  font-size: 16px;
  color: #333
}

/* Info side panel */
.wrapper {
  display: flex;
  height: 100vh;
}

.info-panel {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.side-panel-toggle {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  color: #00ff7f;
  background-color: #132420;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  cursor: pointer;
}

/*.side-panel-toggle:hover {
  background-color: #303030;
}*/

.sp-icon-close {
  display: none !important;
}

.side-panel {
display: none;
  width: 420px;
  flex-shrink: 0;
  /*padding: 20px;*/
  color: #132420;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

.side-panel-open .side-panel {
  display: initial;
}

.side-panel-open .sp-icon-open {
  display: none !important;
}

.side-panel-open .sp-icon-close {
  display: initial !important;
}


