.input-search {
  display: flex;
  width: 75%;
}

.input-search input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 30px;
  color: #696969;
  flex: 1;
  font-size: 16px;
  margin-right: 16px;
  outline: none;
  padding: 10px 25px;
  height: 45px;
}

.input-search button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}