.map-container {
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.map-area {
  position: relative;  
  width: 1280px;
  height: auto;
}

.map-sector svg {
  display: block;
  width: 100%;
  height: 100%;
}

.symbology-button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}